{% extends 'base.html' %}
{% block content %}

<br>
<br>
<div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <h2>Sign Up</h2>
    <!-- {% if error_message %}
    <p class="red-text">{{ error_message }}</p>
    {% endif %} -->
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="card-action center-align">
      <input type="submit" class="green btn" value="signup">
    </div>
    </form>
 
  </div>
</div>


{% endblock %}