{% extends 'base.html' %}
{% block content %}

<h1>{{ profile.name }} Profile</h1>


<div class="col s6">
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ profile.name }}</span>
      <p>organization Name: {{ profile.org_name }}</p>
      <p>address: {{ profile.address }}</p>
      <p>phone number: {{ profile.phone_number }}</p>
      <p>org description: {{ profile.org_description }}</p>
      <p>URL {{ profile.org_url }}</p>
      <p>amazon wishlist: {{ profile.wish_list }}</p>
  </div>
</div>

{% if profile.photo %}
<img class="responsive-img card-panel" src="{{photo.url}}">
{% else %}
<div class="card-panel green-text center-align">No Photos Uploaded</div>
{% endif %}

<form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="green btn" value="Upload Photo">
</form>

</div>


<div class="col s6">
    <div class="card-content">
      {% for needed_item in needed_items %}
      <div class='card'>
        <div class="card-content">
          <span class='card-title'>{{ needed_item.item }}</span>
          <p>description: {{ needed_item.description }}</p>
          <p>drop off address: {{ needed_item.address }}</p>
          <p>quantity: {{ needed_item.quantity }}</p>
        </div>
      </div>
      </a>
      {% endfor %}
      <div class="card-action">
        <a href="{% url 'profile_update' profile.id %}">edit</a>
        <a href="{% url 'profile_delete' profile.id %}">delete</a>
      </div>
    </div>
</div>


{% endblock %}