{% extends 'base.html' %}
{% block content %}

<h1>{{ profile.org_name }} Profile</h1>

<div class="row">
  <div class="col s4">
    {% if profile.photo_set.all %}
    {% for photo in profile.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
    {% endfor %}
    {% else %}
    <div class="card-panel green-text center-align">No Photo Uploaded</div>

    <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="green btn" value="Upload Photo">
    </form>
    {% endif %}
  </div>

  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <div>Name:</div>
        <div>{{ profile.org_name }}</div>
        <div class="even">Address:</div>
        <div class="even">{{ profile.address }}</div>
        <div>Phone Number:</div>
        <div>{{ profile.phone_number }}</div>
        <div class="even">About Me:</div>
        <div class="even">{{ profile.org_description }}</div>
        <div>Website:</div>
        <div>{{ profile.org_url }}</div>
        <div class="even">Wishlist/Registry:</div>
        <div class="even">{{ profile.wish_list }}</div>
      </div>
      <div class="card-action">
        <a href="{% url 'profile_update' profile.id %}" style="color: green">edit profile</a>
        <a href="{% url 'profile_delete' profile.id %}" style="color: green">delete profile</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s4"></div>


  <div class="col s8">
    <div>
      <h2> Items Needed </h2>
      {% for needed_item in needed_items %}
      <div class='item-content'>
        <div class="card" style="padding: 15px">
          <div>
            <span class='card-title'>{{ needed_item.item }}</span>
            <p>DESCRIPTION: {{ needed_item.description }}</p>
            <p>QUANTITY: {{ needed_item.quantity }}</p>
            <p>DROP OFF AT: {{ needed_item.address }}</p>
          </div>
        </div>
      </div>
      </a>
      {% endfor %}

    </div>
  </div>

</div>
{% endblock %}