html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
main {
	margin: 0px 30px;
}
 
body {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
min-height: 100vh;
font-family: 'Raleway', sans-serif;
}

h2 {
text-align: center;
font-family: 'Permanent Marker', cursive;
color: #212121;
}

h1, h4 {
text-align: center;
font-family: 'Permanent Marker', cursive;
text-shadow: 1px 1px #212121;
}

input {
font-family: 'Raleway', sans-serif;
}
input:not([type]):focus:not([readonly]), 
input[type="text"]:not(.browser-default):focus:not([readonly]), 
input[type="password"]:not(.browser-default):focus:not([readonly]), 
input[type="email"]:not(.browser-default):focus:not([readonly]), 
input[type="url"]:not(.browser-default):focus:not([readonly]), 
input[type="time"]:not(.browser-default):focus:not([readonly]), 
input[type="date"]:not(.browser-default):focus:not([readonly]), 
input[type="datetime"]:not(.browser-default):focus:not([readonly]), 
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), 
input[type="tel"]:not(.browser-default):focus:not([readonly]), 
input[type="number"]:not(.browser-default):focus:not([readonly]), 
input[type="search"]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0 1px 0 0 black;
	box-shadow: 0 1px 0 0 black;
	background: transparent !important;
	background-color: transparent !important;
}
main {
flex: 4 0 calc(100% - 64px);
}

/* hamburger menu icon */

i.icon-yellow {
	color: white;
	margin: 0 20px;
	
}
 
.icon-block {
padding: 0 15px;

}

.icon-block .material-icons {
	font-size: inherit;
}

/* slide out nav bar */
#slide-out > li > a {
	color: #ffffff !important;
	text-decoration: none;
	font-size: 30px;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}
nav ul {
list-style: none;
margin: 10px;
padding: 0;
display: flex;
justify-content: space-around;
}



footer {
font-family: 'Raleway', sans-serif;
}


/* Font Awesome Icons */
.fa {
	padding: 15px;
	font-size: 30px;
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 2px;
  }
  .fa:hover {
	opacity: 0.7;
  }
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  .fa-instagram {
	background: #125688;
	color: white;
  }
  .fa-envelope {
	background: #212121;
	color: white;
  }