{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Feed the Need</title>
	<link type="text/css" rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link type="text/css" rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker|Raleway" rel="stylesheet">
	<link type="text/css" rel='stylesheet' href="{% static 'css/style.css' %}" />
</head>

<body>
	<nav>
	</nav>

	<ul id="slide-out" class="sidenav green white-text" style="margin: 15px">
		<br>
		<li><a href="{% url 'home' %}">View Needs</a></li>
		<br>
		<li>
			<div class="divider"></div>
		</li>
		<br>
		{% if user.is_authenticated %}
		<li><a href="{% url 'profile' user.profile.id %}">Your Profile</a></li>
		<li><a href="{% url 'logout' %}">Log Out</a></li>
		{% else %}
		<li><a href="{% url 'login' %}">Log In</a>
			<a href="{% url 'signup' %}">Sign Up</a></li>
		{% endif %}

	</ul>
	
	<a href="#" data-target="slide-out" class="sidenav-trigger green">
	<ul style="display: flex; flex-direction: row; justify-content: space-between">
		<li><i class="medium material-icons icon-yellow">menu</i></li>
		<li><h1 class="brand-logo" style="margin:0 50px">
			<span class="yellow-text">FEED</span>
			<span class="white-text">THE</span>
			<span class="red-text">NEED</span>
		</h1></li>
		<li></li>
	</ul>
	</a>
	
	
	
	<main class="container" style="width: 100%;">
		{% block content %}
		{% endblock %}
	</main>

	<footer class="page-footer green">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h4>
					<span class="yellow-text">FEED</span>
					<span class="white-text">THE</span>
					<span class="red-text">NEED</span>
					</h4>
					<p class="grey-text text-lighten-4">
						Our mission is to connect people who have items to donate with the people who need these items.
						We aid diaster relief, those in desperate times of need, or people who are simply cleaning out
						their closet.
					</p>
				</div>
				<div class="col l3 s12"></div>
				<div class="col l3 s12">
					<h5 class="white-text"></h5>
					<br>
					<ul style="display: flex; flex-direction: row; justify-content: flex-start">
						<li><a href="#" class="fa fa-envelope"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-instagram"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright grey darken-4">
			<div class="container">
				<!-- footer text -->
			</div>
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{% static 'js/init.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyxRFvU2V2-X6wyUxzk-6y4jfIIaBqts0&libraries=places&callback=initMap" async defer></script>
</body>

</html>